/* SHOP SECTION */
.shop-section {
    padding: 60px 40px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.section-subtitle {
    margin-bottom: 40px;
    color: gray;
}

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product-card {
    background: #ffffff;
    padding: 20px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0 10px;
}

.price {
    font-weight: bold;
    margin-bottom: 15px;
}

.product-card button {
    padding: 8px 15px;
    border: none;
    background: #00bcd4;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.product-card button:hover {
    background: #0097a7;
}

/* ACTIVE NAV LINK */
.nav-links .active {
    color: #00bcd4;
}

